In [52]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

In [53]:
print("Hello","World", sep = "-", end ="!!\n")

Hello-World!!

In [54]:
a = 5
b = 2.0
c = a + b
print(c ,type(c))

7.0 <class 'float'>

In [ ]:
name = "Alice"
age = 22
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 22 years old

In [ ]:
print(f"5 + 2 = {5+2}")

5 + 2 = 7

In [ ]:
pi = 3.14159
print(f"{pi:.2f}")
print(f"{1000:,}")

3.14
1,000

In [ ]:
s = "PYTHON"
print (s[::2])

PTO

In [ ]:
#Take a string input, print it reversed using slicing.
s = "Bhaskar"
print(s[::-1])

raksahB

In [ ]:
#Take an integer input, print whether it’s odd/even.
a = 1011010
if(a%2 ==0):
    print(f"The no. is even")
else:
    print(f"The no. is odd")

The no. is even

In [ ]:
#Write a program that swaps two variables without using a third variable.
a = 5
b = 10
a,b = b,a
print("After swap: a=",a, "b=",b)

After swap: a= 10 b= 5

In [ ]:
#Take a float input and print it rounded to 2 decimal places using f-string.
a = 5.02347
print(f"Print till 2 digit decimal place: {a:.3f}")

Print till 2 digit decimal place: 5.023

In [ ]:
#Convert: list → set → tuple → back to list.
my_list = [1,2,2,3,3,3,4,4,4,4,5]
print("Orginal List",my_list)

my_set = set(my_list)
print("Set:",my_set)

my_tuple = tuple(my_set)
print("Tuple:", my_tuple)

final_list = list(my_tuple)
print("Final List:", final_list)

Orginal List [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]
Set: {1, 2, 3, 4, 5}
Tuple: (1, 2, 3, 4, 5)
Final List: [1, 2, 3, 4, 5]

In [ ]:
#Print a sentence with print() using custom sep and end.
print("A","B","C", sep = "-", end = "!!\n")

A-B-C!!